{% extends "base.html" %}

{% block title %}Comments{% endblock %}

{% block head %}
    <style>
        body {
            box-sizing: border-box;
        }

        div.testimonials-container::before {
        content: "loco";
        background-image: url({{ url_for('static', filename='images/media-kit.jpg') }});
        filter: brightness(0.2);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
        min-height: 100vh;
        min-width: 100vw;
        position: fixed;
        top: 0;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="testimonials-container">
        <div class="testimonies-card">
            <div class="testimonials-content">
                <h2 class="testimonials-text text testimonials-header">Comments</h2>
                <div class="invite-card">
                    <p class="testimonials-text text testimonials-body">This web application was built by WebBuildHQ. </p>
                    <p class="testimonials-text text testimonials-body">
                        <a class="testimonials-prompt" href="{{ url_for('sign_up') }}">
                            Sign up
                        </a> to add a comment, upload a picture, test it out and come back here to find your comment! You can edit or delete a comment if you want.
                    </p>
                </div>
                {% for comment in comments %}
                    <div class="testimony">
                        <img class="testimony-image"
                             alt="{{ comment.user.first_name }} {{ comment.user.last_name }}"
                             src="{{ url_for('static', filename='images/uploads/' ~ comment.user.picture_name ~ comment.user.picture_format) }}"
                        >
                        <p class="text testimony-author"><b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b></p>
                        <p class="text testimony"><em>{{ comment.comment }}</em></p>
                        <p class="text testimony-date"><b>Posted </b>on {{ comment.datetime.strftime("%A, %B %d, %Y at %H:%M UTC") }}</p>
                    </div>
                {% endfor %}
                <div class="testimonials-link">
                    <a class=" text button whatsapp testimonials-button" type="button" href="https://wa.me/2347067681676">Whatsapp</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}