{% extends "base.html" %}

{% block title %}Comments{% endblock %}

{% block head %}
    <style>
        body {
            box-sizing: border-box;
        }

        p.testimony {
            word-break: break-word;
        }

        div.testimonials-container::before {
        content: "loco";
        background-image: url({{ url_for('static', filename='images/media-kit.jpg') }});
        filter: brightness(0.2);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
        min-height: 100vh;
        min-width: 100vw;
        position: fixed;
        top: 0;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="testimonials-container">
        <div class="testimonies-card">
            <div class="testimonials-content">
                <h2 class="testimonials-text text testimonials-header">Comments</h2>
                <div class="invite-card">
                    <p class="testimonials-text text testimonials-body">This web application was built by WebBuildHQ. </p>
                    <p class="testimonials-text text testimonials-body">
                        <a class="testimonials-prompt" href="{{ url_for('sign_up') }}">
                            Sign up
                        </a> to upload a picture and add a comment.
                    </p>
                </div>
                {% for comment in comments %}
                    <div class="testimony">
                        {% if comment.user.picture_url %}
                            <img class="testimony-image"
                                 alt="{{ comment.user.first_name }} {{ comment.user.last_name }}"
                                 src="{{ current_user.picture_url }}"
                            >
                        {% else %}
                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle placeholder-svg" viewBox="0 0 16 16">
                                 <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                 <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                        {% endif %}
                        <p class="text testimony-author"><b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b></p>
                        <p class="text testimony"><em>{{ comment.comment }}</em></p>
                        <p class="text testimony-date"><b>Posted </b>on {{ comment.datetime.strftime("%A, %B %d, %Y at %H:%M UTC") }}</p>
                    </div>
                {% endfor %}
                <div class="testimonials-link">
                    <a class=" text button whatsapp testimonials-button" type="button" href="https://wa.me/2348067071135">Whatsapp</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}