{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block head %}
    <style>
        body {
            box-sizing: border-box;
        }

        div.contact-content::before {
            content: "contact";
            color: transparent;
            background-image: url( "{{ url_for('static', filename='images/telephone.jpg') }}" );
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            min-width: 100vw;
            min-height: 100vh;
            filter: brightness(0.2);
        }
    </style>
{% endblock %}

{% block body %}
<div class="contact-content">
    <h2 class="contact-text text contact-header">Contact</h2>
    <p class="contact-text text contact-body">Whatsapp +234 706 768 1676 or email webbuildhq@gmail.com.</p>
    <a class=" text button whatsapp contact-button" type="button" href="https://wa.me/2347067681676">Whatsapp</a>
</div>
{% endblock %}