{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    <style>
        body {
            box-sizing: border-box;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        img {
            max-width: 100vw;
        }


    </style>
{% endblock %}

{% block body %}
<!--  Hero  -->
<div class="hero-container">
    <img alt="a web developer's work station" src="{{ url_for('static', filename='images/laptop-table.png') }}">
    <div class="hero-prompt">
        <h2 class="text hero-body hero-title">Own a website</h2>
        <p class="text hero-body hero-content">Create a website for any purpose. Pick a
                domain name (e.g. website.com), pick a template (a design) from our <a class="home-link" href="{{ url_for('designs') }}">
                templates</a>, customize it (add your pictures and
                information) and publish it (get it on the internet).</p>
        <div class="hero-actions">
            <a class="text button hero-body hero-button whatsapp" type="button" href="https://wa.me/2347067681676">Whatsapp</a>
        </div>
    </div>
</div>
{% endblock %}
