{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
    <style>
        body {
            box-sizing: border-box;
        }

        div.login-card::before {
            content: "sign-up";
            color: transparent;
            background-image: url( "{{ url_for('static', filename='images/formal-meeting.jpg') }}" );
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            min-width: 100vw;
            min-height: 100vh;
            filter: brightness(0.2);
       }
    </style>
{% endblock %}

{% block body %}
    <div class="login-card">
        <div class="login-form">
            <form method="post" action="{{ url_for('login') }}">
                {{ form.csrf_token }}
                <p class="text login-label">Email</p>
                {{ form.email() }}
                <p class="text login-label">Password</p>
                {{ form.password() }}
                <br>
                <p class="text signup-prompt">Don't have an account yet?
                    <a class="login-signup" href="{{ url_for('sign_up') }}">Sign up</a>
                </p>
                {{ form.button() }}
                <!--  Flashed Messages  -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text login-flash">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!--  End of Flashed Messages  -->
            </form>
        </div>
    </div>
{% endblock %}