{% extends "user_base.html" %}

{% block user_title %}Upload Picture{% endblock %}

{% block user_body %}
    <div class="upload-container">
        <h2 class="text upload-instruction">Add a profile picture</h2>
        <p class="text upload-instruction">File must not be larger than 8MB</p>
        <form class="upload-form" enctype="multipart/form-data" method="post" action="{{ url_for('upload_picture') }}">
            {{ form.csrf_token }}
            {{ form.picture() }}<br>
            {{ form.button() }}
            <!--  Flashed Messages  -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text upload-flash">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!--  End of Flashed Messages  -->
        </form>
    </div>
{% endblock %}